{% macro thumbnail(icon) %}<thumbnail circle text="{{ icon }}" background="#e67300" font-color="white" size="50" />{% endmacro %}

{% macro tag(name)%}<small><span class="badge badge-pill badge-secondary">{{ name }}</span></small>{% endmacro %}
